.wrapper {
    height: 100vh;
    padding-top: 30px;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background-color: blueviolet;
}

.sidebar-1 {
    height: calc(100% - 50px);
}

.sidebar-2 {
    height: 50px;
}

.content {
    width: calc(100% - 200px);
    overflow-y: auto;
    background-color: brown;
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    background-color: darkorange;
}

.debug {
    bo
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.nav-lateral {
    width: 10%;
}