.wrapper {
    height: 100vh;
    padding-top: 40px;
}

/* SIDEBAR */
.fg-sidebar {
    width: 50px;
    background-color: blueviolet;
}

.sidebar-1 {
    height: calc(100% - 50px);
}

.sidebar-2 {
    height: 50px;
}

.fg-sidebar ul {
    list-style: none;  
    padding-left: 0;
    
}

.fg-sidebar li,
.sidebar-2 {
 padding: 10px;
}

.fg-sidebar span,
.sidebar-2 span {
    padding-left: 5px;
    display: none;
}

.row .fg-no {
    display: none;
}

.content {
    width: calc(100% - 50px);
    overflow-y: auto;
    background-color: brown;
    height: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: rgb(110, 109, 108);
}

.nav-lateral {
    width: 10%;
    background-color: white;
    min-width: 70px;
}

.nav-lateral i {
    padding-right: 5px;
}

#logo {
    display: none;
}

#logo-mobile {
    width: 100%;
    overflow: hidden;
    max-width: 30px;
    margin: 0 auto;
    display: block;
}


@media screen and (min-width: 576px){
    
    
}

@media screen and (min-width: 768px) {
    #logo {
        display: block;
    }

    #logo-mobile {
        display: none;
    }

    .fg-sidebar {
        width: 150px;
        background-color: blueviolet;
    }

    .sidebar-1 {
        height: calc(100% - 50px);
    }

    .sidebar-2 {
        height: 50px;
    }
    .fg-sidebar span {
        display: inline-block;
    }

    .content {
        width: calc(100% - 150px);
        overflow-y: auto;
        background-color: brown;
        height: 100%;
    }

    .nav-lateral {
        width: 10%;
        background-color: white;
        min-width: 70px;
    }
    
    .nav-lateral i {
        padding-right: 5px;
    }

   
}